@page "/Chapter1"

<h2 style="text-align: center;">Chapter 1</h2>
<h5><a href="https://ojilmhub.uz/problem/1" target="_blank">1. Ikkili to'rtburchak</a></h5>
<h5><a href="https://ojilmhub.uz/problem/2" target="_blank">2. Uchburchak</a></h5>
<h5><a href="https://ojilmhub.uz/problem/3" target="_blank">3. Mushukcha</a></h5>
<h5><a href="https://ojilmhub.uz/problem/4" target="_blank">4. Kuchukcha</a></h5>
@code {

}
